
table {
  width: 75%;
  margin: auto;
  box-sizing: border-box;
}

thead tr {
  display: flex;
  border-bottom: $border;
  border-top: $border;
  th {
    flex: 1;
    font-size: 1.1rem;
    text-align: center;
    border-right: $border;
    .button {
      padding: .3rem .8rem .6rem .3rem;
      margin-left: .5rem;
      margin-top: 1rem;
    }
  }
  th.number {
    flex: .5;
    color: blue;
  }
}

tbody tr {
  display: flex;
  td {
    flex: 1;
    font-size: 1.1rem;
    border-right: $border;
    img {
      width: 60px;
      padding-right: 10px;
    }
  }
  td.number {
    text-align: right;
    flex: .5;
  }
  td.loading {
    font-size: 2rem;
    color: green;
  }
}

.first {
  flex: .2;
  text-align: center;
  border-left: $border;
}

.blue {
  color: blue;
}
