
table {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

thead tr {
  display: flex;
  border-bottom: $border;
  border-top: $border;
  th {
    flex: 1;
    font-size: .9rem;
    text-align: center;
    border-right: $border;
    padding: .5rem .1rem;
  }
  th.number {
    flex: .4;
    color: blue;
    padding-right: .5rem;
  }
}

tbody tr {
  display: flex;
  td {
    flex: 1;
    font-size: .9rem;
    border-right: $border;
    padding: .5rem .1rem;
    img {
      width: 40px;
      padding-right: 5px;
    }
  }
  td.number {
    text-align: right;
    flex: .4;
    padding-right: .5rem;
  }
  td.loading {
    font-size: 2rem;
    color: green;
  }
}

.first {
  flex: .2;
  text-align: center;
  border-left: $border;
}

.blue {
  color: blue;
}

@media only screen and (min-device-width: 490px) {
  table {
    width: 75%;

    tbody tr td {
      font-size: 1.1rem;
    }
    tr th {
      font-size: 1.1rem;
    }
    img {
      width: 60px;
      padding-right: 10px;
    }
  }
}
