body {
  background: $fcc-green;

}

.top-bar {
  font-size: 1.3rem;
  background: white;
  margin-bottom: 2rem;
  border: 5px solid $fcc-green;
  padding-top: 10px;

  a {
    color: blue;
  }

  .green {
    color: $fcc-green;
  }
}
